<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />
        <meta name="generator" content="Aspose.Words for .NET 23.9.0" />
        <title></title>
        <style type="text/css">
            body {
                font-family: "Times New Roman";
                font-size: 12pt;
            }
            p {
                margin: 0pt;
            }
        </style>
    </head>
    <body>
        <div>
            <p style="margin-top: 23.35pt; text-align: justify; line-height: 19.5pt;">
                <span style="font-family: Calibri; font-size: 16pt;">EMPEÑOS</span><span style="font-family: Calibri; font-size: 16pt; letter-spacing: 0.4pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">Y</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 2.05pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">PRESTAMO([</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 3.9pt;"> </span><span style="font-family: Calibri; font-size: 16pt; letter-spacing: 0.25pt;">S.A(EMPRESA)</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 9.15pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">RUC</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 1.15pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">J0310000300895</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 98.2pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">Oficina:25353613-8257-2062,</span>
            </p>
            <p style="margin-top: 0.65pt; margin-left: 26.9pt; text-align: justify; line-height: 19.5pt;">
                <span style="font-family: Calibri; font-size: 16pt;">RECIBO</span><span style="font-family: Calibri; font-size: 16pt; letter-spacing: 4.45pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">N”:</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 3.3pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">11571</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 35.8pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">CAMBIO</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 1.4pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">DE</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 4.95pt;"> </span><span style="font-family: Calibri; font-size: 16pt; letter-spacing: 1.1pt;">CSA</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 4.6pt;"> </span><span style="font-family: Calibri; font-size: 16pt; letter-spacing: 0.35pt;">$:35.02</span>
                <span style="font-family: Calibri; font-size: 16pt; letter-spacing: 157.45pt;"> </span><span style="font-family: Calibri; font-size: 16pt;">CC-0-E</span>
            </p>
            <p style="margin-top: 5.25pt; text-align: justify; line-height: 17.05pt;">
                <span style="font-family: Calibri; font-size: 14pt;">Contrato</span><span style="font-family: Calibri; font-size: 14pt; letter-spacing: 6.1pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">%</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 0.25pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">5602</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 44.4pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">Cuotas</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 1.45pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">Pactadas:</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 5.45pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">8</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 28.05pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">Cuotas</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 1.45pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">Pendientes:</span>
                <span style="font-family: Calibri; font-size: 14pt; letter-spacing: 0.75pt;"> </span><span style="font-family: Calibri; font-size: 14pt;">5</span>
            </p>
            <p style="margin-top: 1.1pt; text-indent: 362.85pt; line-height: 25.4pt;">
                <span style="font-family: Calibri; font-size: 15pt;">SALDO</span><span style="font-family: Calibri; font-size: 15pt; letter-spacing: 5.3pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">ANTERIOR:</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 9.55pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">CS</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 4.55pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">6,555.39</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 8.65pt;"> </span><span style="font-family: Calibri; font-size: 15pt; letter-spacing: 0.05pt;">Equivalentea:</span>
                <span style="font-family: Calibri; font-size: 15pt;"> $</span><span style="font-family: Calibri; font-size: 15pt; letter-spacing: 2.45pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">187.19 </span>
                <span style="font-family: Calibri; font-size: 13pt;">Recibí</span><span style="font-family: Calibri; font-size: 13pt; letter-spacing: 4.2pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">de:</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 6.5pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">LEVI</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 8.85pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">SEBASTIAN</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 15.95pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">GARCIA</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 10.3pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">PAVON</span>
            </p>
            <p style="margin-top: 2.95pt; text-align: justify; line-height: 15.85pt;">
                <span style="font-family: Calibri; font-size: 13pt;">La</span><span style="font-family: Calibri; font-size: 13pt; letter-spacing: 2.85pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">cantidad</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 0.35pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">de:</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 9.85pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">Cien</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 6.1pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">Córdobas</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 8.75pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">con</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 0.75pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">0/100</span>
            </p>
            <p style="margin-top: 14.25pt; margin-right: 332.4pt; text-align: justify; line-height: 18.8pt;">
                <span style="font-family: Calibri; font-size: 11pt;">Total</span><span style="font-family: Calibri; font-size: 11pt; letter-spacing: 7.15pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">pagado</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 6.75pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">CS:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 8.5pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">100.00</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 139.55pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">Equivalente</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 11.4pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">a:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 2.75pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">$</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 7.4pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">2.86 Mora</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 9.5pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">C$:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 12pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">0.00</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 184.3pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">Equivalente</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 12.1pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">a:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 2.75pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">$</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 6.7pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">0.00 Interés</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 5.15pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">y</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 3.3pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">demás</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 5.55pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">cargos</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 6.8pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">a</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 1.65pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">pagar:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 6.2pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">C$</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 10.25pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">100.00</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 41.45pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">Equivalente</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 12.1pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">a:</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 2.75pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">$</span>
                <span style="font-family: Calibri; font-size: 11pt; letter-spacing: 7.4pt;"> </span><span style="font-family: Calibri; font-size: 11pt;">2.86 </span><span style="font-family: Calibri;">Próximo</span>
                <span style="font-family: Calibri; letter-spacing: 6.45pt;"> </span><span style="font-family: Calibri;">Pago</span><span style="font-family: Calibri; letter-spacing: 3.6pt;"> </span>
                <span style="font-family: Calibri;">de</span><span style="font-family: Calibri; letter-spacing: 1.15pt;"> </span><span style="font-family: Calibri;">cuota</span>
                <span style="font-family: Calibri; letter-spacing: 2.75pt;"> </span><span style="font-family: Calibri;">pactada:</span><span style="font-family: Calibri; letter-spacing: 9.55pt;"> </span>
                <span style="font-family: Calibri;">(4/10/2020)</span>
            </p>
            <p style="margin-top: 2pt; margin-left: 378.3pt; text-align: justify; line-height: 18.3pt;">
                <span style="font-family: Calibri; font-size: 15pt;">SALDO</span><span style="font-family: Calibri; font-size: 15pt; letter-spacing: 5.3pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">ACTUAL:</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 8.5pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">C$</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 3.85pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">6,555.39</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 8.65pt;"> </span><span style="font-family: Calibri; font-size: 15pt; letter-spacing: 0.05pt;">Equivalentea:S</span>
                <span style="font-family: Calibri; font-size: 15pt; letter-spacing: 6.05pt;"> </span><span style="font-family: Calibri; font-size: 15pt;">187.19</span>
            </p>
            <p style="margin-top: 15.45pt; margin-left: 2.7pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Total</span><span style="font-family: Calibri; letter-spacing: 4.15pt;"> </span><span style="font-family: Calibri;">Paciales</span>
                <span style="font-family: Calibri; letter-spacing: 6.05pt;"> </span><span style="font-family: Calibri;">$:</span><span style="font-family: Calibri; letter-spacing: 2.1pt;"> </span>
                <span style="font-family: Calibri;">2.86</span>
            </p>
            <p style="margin-top: 4.2pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Fecha</span><span style="font-family: Calibri; letter-spacing: 4.3pt;"> </span><span style="font-family: Calibri;">a</span>
                <span style="font-family: Calibri; letter-spacing: 0.95pt;"> </span><span style="font-family: Calibri;">pagar</span><span style="font-family: Calibri; letter-spacing: 3.25pt;"> </span>
                <span style="font-family: Calibri;">monto</span><span style="font-family: Calibri; letter-spacing: 1.7pt;"> </span><span style="font-family: Calibri;">pendiente:</span>
                <span style="font-family: Calibri; letter-spacing: 12.05pt;"> </span><span style="font-family: Calibri;">Martes,</span><span style="font-family: Calibri; letter-spacing: 3.1pt;"> </span>
                <span style="font-family: Calibri;">Quince</span><span style="font-family: Calibri; letter-spacing: 8.5pt;"> </span><span style="font-family: Calibri;">del</span>
                <span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span><span style="font-family: Calibri;">mes</span><span style="font-family: Calibri; letter-spacing: 1.25pt;"> </span>
                <span style="font-family: Calibri;">de</span><span style="font-family: Calibri; letter-spacing: 1.8pt;"> </span><span style="font-family: Calibri;">Septiembre</span>
                <span style="font-family: Calibri; letter-spacing: 4.55pt;"> </span><span style="font-family: Calibri;">del</span><span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span>
                <span style="font-family: Calibri;">año</span><span style="font-family: Calibri; letter-spacing: 1.75pt;"> </span><span style="font-family: Calibri;">2020</span>
            </p>
            <p style="margin-top: 7.55pt; margin-left: 0.65pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Total</span><span style="font-family: Calibri; letter-spacing: 4.15pt;"> </span><span style="font-family: Calibri;">a</span>
                <span style="font-family: Calibri; letter-spacing: 0.95pt;"> </span><span style="font-family: Calibri;">pagar</span><span style="font-family: Calibri; letter-spacing: 3.25pt;"> </span>
                <span style="font-family: Calibri;">Cuota</span><span style="font-family: Calibri; letter-spacing: 4.1pt;"> </span><span style="font-family: Calibri;">completa</span>
                <span style="font-family: Calibri; letter-spacing: 3.25pt;"> </span><span style="font-family: Calibri;">en</span><span style="font-family: Calibri; letter-spacing: 1.15pt;"> </span>
                <span style="font-family: Calibri;">esta</span><span style="font-family: Calibri; letter-spacing: 1.7pt;"> </span><span style="font-family: Calibri;">fecha</span>
                <span style="font-family: Calibri; letter-spacing: 2.1pt;"> </span><span style="font-family: Calibri; letter-spacing: 0.05pt;">CS$1,276.13</span><span style="font-family: Calibri; letter-spacing: 26pt;"> </span>
                <span style="font-family: Calibri;">Equivalente</span><span style="font-family: Calibri; letter-spacing: 7.05pt;"> </span><span style="font-family: Calibri;">a:</span>
                <span style="font-family: Calibri; letter-spacing: 5.15pt;"> </span><span style="font-family: Calibri;">$</span><span style="font-family: Calibri; letter-spacing: 2.65pt;"> </span>
                <span style="font-family: Calibri;">36.44</span>
            </p>
            <p style="margin-top: 4.9pt; margin-left: 0.65pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Monto</span><span style="font-family: Calibri; letter-spacing: 3pt;"> </span><span style="font-family: Calibri;">pendiente</span>
                <span style="font-family: Calibri; letter-spacing: 2.5pt;"> </span><span style="font-family: Calibri;">para</span><span style="font-family: Calibri; letter-spacing: 2.2pt;"> </span>
                <span style="font-family: Calibri;">completar</span><span style="font-family: Calibri; letter-spacing: 4.45pt;"> </span><span style="font-family: Calibri;">cuota</span>
                <span style="font-family: Calibri; letter-spacing: 2.75pt;"> </span><span style="font-family: Calibri;">completa</span><span style="font-family: Calibri; letter-spacing: 3.9pt;"> </span>
                <span style="font-family: Calibri;">en</span><span style="font-family: Calibri; letter-spacing: 1.15pt;"> </span><span style="font-family: Calibri;">esta</span>
                <span style="font-family: Calibri; letter-spacing: 1.05pt;"> </span><span style="font-family: Calibri;">fecha:</span><span style="font-family: Calibri; letter-spacing: 4.95pt;"> </span>
                <span style="font-family: Calibri;">1,175.97</span><span style="font-family: Calibri; letter-spacing: 21.95pt;"> </span><span style="font-family: Calibri;">Equivalente</span>
                <span style="font-family: Calibri; letter-spacing: 4.35pt;"> </span><span style="font-family: Calibri;">a:</span><span style="font-family: Calibri; letter-spacing: 1.75pt;"> </span>
                <span style="font-family: Calibri;">$</span><span style="font-family: Calibri; letter-spacing: 1.95pt;"> </span><span style="font-family: Calibri;">33.58</span>
            </p>
            <p style="margin-top: 27.05pt; margin-left: 209pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Recibido</span><span style="font-family: Calibri; letter-spacing: 7pt;"> </span><span style="font-family: Calibri;">el:</span>
                <span style="font-family: Calibri; letter-spacing: 6.2pt;"> </span><span style="font-family: Calibri;">5</span><span style="font-family: Calibri; letter-spacing: 0.6pt;"> </span><span style="font-family: Calibri;">del</span>
                <span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span><span style="font-family: Calibri;">mes</span><span style="font-family: Calibri; letter-spacing: 1.9pt;"> </span>
                <span style="font-family: Calibri;">de</span><span style="font-family: Calibri; letter-spacing: 1.15pt;"> </span><span style="font-family: Calibri;">Septiembre</span>
                <span style="font-family: Calibri; letter-spacing: 5.2pt;"> </span><span style="font-family: Calibri;">del</span><span style="font-family: Calibri; letter-spacing: 1.75pt;"> </span>
                <span style="font-family: Calibri;">año</span><span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span><span style="font-family: Calibri;">2020</span>
                <span style="font-family: Calibri; letter-spacing: 3.2pt;"> </span><span style="font-family: Calibri;">a</span><span style="font-family: Calibri; letter-spacing: 4.3pt;"> </span>
                <span style="font-family: Calibri;">las:</span><span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span><span style="font-family: Calibri;">08:44</span>
                <span style="font-family: Calibri; letter-spacing: 4pt;"> </span><span style="font-family: Calibri;">am</span>
            </p>
            <p style="margin-top: 24.75pt; margin-left: 49.75pt; text-align: justify; line-height: 15.85pt;">
                <span style="font-family: Calibri; font-size: 13pt;">Recibí</span><span style="font-family: Calibri; font-size: 13pt; letter-spacing: 3.55pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">Conforme</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 481.8pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">Entregué</span>
                <span style="font-family: Calibri; font-size: 13pt; letter-spacing: 0.2pt;"> </span><span style="font-family: Calibri; font-size: 13pt;">Conforme</span>
            </p>
            <p style="margin-top: 5.25pt; margin-left: 247.95pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Este</span><span style="font-family: Calibri; letter-spacing: 3.6pt;"> </span><span style="font-family: Calibri;">Recibo</span>
                <span style="font-family: Calibri; letter-spacing: 5.35pt;"> </span><span style="font-family: Calibri;">no</span><span style="font-family: Calibri; letter-spacing: 2.15pt;"> </span>
                <span style="font-family: Calibri;">es</span><span style="font-family: Calibri; letter-spacing: 0.75pt;"> </span><span style="font-family: Calibri;">válido</span>
                <span style="font-family: Calibri; letter-spacing: 5.6pt;"> </span><span style="font-family: Calibri;">sin</span><span style="font-family: Calibri; letter-spacing: 2.35pt;"> </span>
                <span style="font-family: Calibri;">la</span><span style="font-family: Calibri; letter-spacing: 2.2pt;"> </span><span style="font-family: Calibri;">firma</span>
                <span style="font-family: Calibri; letter-spacing: 2.95pt;"> </span><span style="font-family: Calibri;">del</span><span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span>
                <span style="font-family: Calibri;">cajero</span><span style="font-family: Calibri; letter-spacing: 3.4pt;"> </span><span style="font-family: Calibri;">(a).</span>
            </p>
            <p style="margin-top: 2.85pt; margin-left: 168pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">HAGA</span><span style="font-family: Calibri; letter-spacing: 11.35pt;"> </span><span style="font-family: Calibri;">SUS</span>
                <span style="font-family: Calibri; letter-spacing: 5.45pt;"> </span><span style="font-family: Calibri;">PAGOS</span><span style="font-family: Calibri; letter-spacing: 10.8pt;"> </span>
                <span style="font-family: Calibri;">PUNTUALES</span><span style="font-family: Calibri; letter-spacing: 24.05pt;"> </span><span style="font-family: Calibri;">Y</span>
                <span style="font-family: Calibri; letter-spacing: 4.2pt;"> </span><span style="font-family: Calibri;">EVITESE</span><span style="font-family: Calibri; letter-spacing: 17pt;"> </span>
                <span style="font-family: Calibri;">RETIROS</span><span style="font-family: Calibri; letter-spacing: 15.2pt;"> </span><span style="font-family: Calibri;">DE</span>
                <span style="font-family: Calibri; letter-spacing: 5.55pt;"> </span><span style="font-family: Calibri;">GARANTIAS</span>
            </p>
            <p style="margin-top: 0.05pt; margin-left: 123.65pt; text-align: justify; line-height: 14.6pt;">
                <span style="font-family: Calibri;">Los</span><span style="font-family: Calibri; letter-spacing: 4.75pt;"> </span><span style="font-family: Calibri;">valores</span>
                <span style="font-family: Calibri; letter-spacing: 3.85pt;"> </span><span style="font-family: Calibri;">proyectados</span><span style="font-family: Calibri; letter-spacing: 5.45pt;"> </span>
                <span style="font-family: Calibri;">a</span><span style="font-family: Calibri; letter-spacing: 1.6pt;"> </span><span style="font-family: Calibri;">futuro</span>
                <span style="font-family: Calibri; letter-spacing: 2.1pt;"> </span><span style="font-family: Calibri;">en</span><span style="font-family: Calibri; letter-spacing: 1.15pt;"> </span>
                <span style="font-family: Calibri;">córdobas</span><span style="font-family: Calibri; letter-spacing: 4.05pt;"> </span><span style="font-family: Calibri;">están</span>
                <span style="font-family: Calibri; letter-spacing: 2.15pt;"> </span><span style="font-family: Calibri;">sujeto</span><span style="font-family: Calibri; letter-spacing: 2.05pt;"> </span>
                <span style="font-family: Calibri;">al</span><span style="font-family: Calibri; letter-spacing: 1.55pt;"> </span><span style="font-family: Calibri;">cambio</span>
                <span style="font-family: Calibri; letter-spacing: 4.5pt;"> </span><span style="font-family: Calibri;">del</span><span style="font-family: Calibri; letter-spacing: 2.4pt;"> </span>
                <span style="font-family: Calibri;">córdoba</span><span style="font-family: Calibri; letter-spacing: 4.05pt;"> </span><span style="font-family: Calibri;">(CS)</span>
                <span style="font-family: Calibri; letter-spacing: 6.3pt;"> </span><span style="font-family: Calibri;">al</span><span style="font-family: Calibri; letter-spacing: 1.55pt;"> </span>
                <span style="font-family: Calibri;">dólar</span><span style="font-family: Calibri; letter-spacing: 3.55pt;"> </span><span style="font-family: Calibri;">($)</span>
            </p>
        </div>
    </body>
</html>
