@page
@using API.Controllers
@using APPCORE.Security
@{
    if (!SecurityController.Auth(HttpContext.Session.GetString("sessionKey")))
    {
        Response.Redirect("../Security/login");
        return;
    }
    @if (!SecurityController.HavePermission(Permissions.GESTION_COMPRAS.ToString(), HttpContext.Session.GetString("sessionKey")) )//todo
    {
       Response.Redirect("../Security/login");
        return;
    }     
}
<script src='~/Facturacion/Views/FacturaComponentView.js' type='module'></script>
<div id='MainBody'></div>
