#Aside .collapse {
    /* max-height: 0px; */
    overflow: hidden;
    transition: all .5s;
}

#Aside .active-title+.collapse {
    max-height: inherit;
}

#Aside .title-collapse::after {
    content: ">";
    margin-left: 8px;
    transition: all .2s;
    font-weight: 900;
    height: 8px;
    width: 10px;
    min-width: 10px;
    background-color: var(--font-tertiary-color);
    clip-path: polygon(50% 50%, 100% 0%, 100% 50%, 50% 100%, 0% 50%, 0% 0%);
}

#Aside .active-title::after {
    transform: rotate(-180deg);
}

#Aside a.title-collapse {
    color: var(--font-secundary-color);
    padding: 10px;
    margin: 0px;    
    font-size: 10px;

    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    padding-right: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    line-height: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.home-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}
.home-menu .collapse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.home-menu .menu-item{
    display: block;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    background-color: var(--fourth-color);   
    text-decoration: none;
    color: var(--font-primary-color);
    text-transform: lowercase;
}
.home-menu .menu-item::first-letter{
    text-transform: uppercase;
}
.home-menu .title-collapse {
    display: block;
    padding: 10px 20px;
    list-style: none;
    border-radius: 10px;
    background-color:  rgb(11, 89, 153);
    color: var(--font-tertiary-color);
    text-decoration: none;
}