@view-transition {
    navigation: auto;
}

::view-transition-group(*) {
    animation-duration: 0.5s;
}

::view-transition-old(root) {
    animation: view-transition-new-out 0.5s forwards;
}

::view-transition-new(root) {
    animation: view-transition-new-in 0.5s forwards;
}

@keyframes view-transition-new-out {
    from {
        opacity: 1;
        scale: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        scale: 0;
        transform: translateX(-100%);
    }
}

@keyframes view-transition-new-in {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;

    position: fixed;
    background: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.background {
    top: 0px;
    left: 0px;
    position: absolute;
    background-image: linear-gradient(-45deg, rgb(33, 150, 243) 0%, rgb(33, 150, 243) 33%, rgb(0, 191, 165) 100%);
    background-attachment: fixed;
    display: block;
    height: 400px;
    z-index: -1;
    width: 100%;
}

#AdminTemplate {
    display: grid;
    grid-template-rows: 50px calc(100vh - 50px);
    grid-template-columns: 280px calc(100% - 280px);
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);

}

#Header,
#AdminHeader {
    color: var(--font-tertiary-color);
    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;

    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    top: 0px;
    left: auto;
    right: 0px;
    box-shadow: none;
    box-shadow: rgba(80, 80, 80, 0.2) 0px 1px 8px 0px, rgba(80, 80, 80, 0.14) 0px 3px 4px 0px, rgba(80, 80, 80, 0.12) 0px 3px 3px -2px;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        background 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;

}


#Header a {
    padding: 20px 10px;
    color: var(--font-primary-color);
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

#Aside {
    box-shadow: none;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    z-index: 1000;
    top: 0px;
    outline: 0px;
    left: 0px;
    width: 280px;
    position: relative;
    height: 100%;
    overflow: hidden;
    border: none;
    background-color: var(--secundary-color);
    color: var(--font-primary-color);
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    grid-row: span 2;
    box-shadow: rgba(62, 57, 107, 0.07) 0px 10px 15px -5px;
    backdrop-filter: saturate(180%) blur(20px);
}

#Aside nav {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 0px;
}

#Aside a {
    padding: 10px 10px 10px 30px;
    display: block;
    color: var(--font-fourth-color);
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;

    margin: 0px;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.43;
    display: block;
    white-space: nowrap;

}

#Aside a.active {
    border-radius: 0px 24px 24px 0px;
    color: rgb(255, 255, 255);
    background-color: rgba(33, 150, 243, 0.8) !important;
}

#Aside h3 {
    color: var(--font-secundary-color);
    padding: 10px;
    margin: 0px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;

    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    padding-right: 16px;
    text-transform: uppercase;
    padding-left: 20px;
    display: block;
    line-height: 12px;
    font-weight: bold;
}

#MainContainer {

    color: var(--font-fourth-color);
    padding: 10px;
    overflow-y: auto;
    overflow-y: overlay;
    overflow-x: hidden;
}

#Main {
    background-color: var(--primary-color);
    color: var(--font-fourth-color);
    border-radius: 0.3cm;
    min-height: 500px;
    box-shadow: 0 0 5px 0 #b3b3b3;
    margin: 0px;
    padding: 20px;
}

.logo-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-bottom: 20px;
}

.logo-container img {
    width: 80%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
}

.title-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 20px;
    color: #ffff;
}

.title-container .sub-title {
    font-size: 12px;
}

.OptionBottom {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

.navIcon {
    display: none;
}

@media(max-width: 1200px) {
    #Aside {
        position: fixed;
        transform: translateX(-100%);
        transition: all 0.5s;
        z-index: 1000;
    }

    #AdminTemplate {
        display: grid;
        grid-template-rows: 50px calc(100vh - 50px);
        grid-template-columns: 100%;
    }

    #Aside.navActive {
        transform: translateX(0%);
        position: fixed;
        top: 0;
        bottom: 0;
    }

    .navIcon {
        display: block;
        height: 40px;
        width: 40px;
        margin: 0px 20px;
        cursor: pointer;
    }

    #Header .navIcon {
        filter: invert(1);
    }
}