@page
@using API.Controllers
@using APPCORE.Security
@{
     if (!SecurityController.Auth(HttpContext.Session.GetString("sessionKey")))
    {
        Response.Redirect("../Security/login");
        return;
    }
    @if (!SecurityController.HavePermission(Permissions.GESTION_PRESTAMOS_POR_PERSONAS_NATURALES.ToString(),HttpContext.Session.GetString("sessionKey")) )
    {
       Response.Redirect("../Security/login");
        return;
    }    
}
<script src='~/Views/Gestion_Inversionistas.js' type='module'></script>
<div id='MainBody'></div>
