@page
@using API.Controllers
@using APPCORE.Security
@{
     if (!SecurityController.Auth(HttpContext.Session.GetString("sessionKey")))
    {
        Response.Redirect("../Security/login");
        return;
    }
    @if (!SecurityController.HavePermission(Permissions.GESTION_CLIENTES.ToString(), HttpContext.Session.GetString("sessionKey")) )
    {
       Response.Redirect("../Security/login");
        return;
    }    
}
<script src='~/Views/Gestion_Recibos.js' type='module'></script>
<div id='MainBody'></div>
