<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">
        EMPEÑOS Y PRÉSTAMOS S.A "EMPRE SA"
        Carazo - Nicaragua
    </p>
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">“Tu
        Prosperidad, Es Nuestro Éxito….”
        {{fecha}}
    </p>

    <p style="font-size: 9.5px; margin-top: 0px; margin-bottom: 0px; text-align: left; padding-bottom: 0px;">
        No Contrato:
        {{numero_contrato}}
        RUC J0310000300895
    </p>

    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">Oficina Central
        82572062 (Mov); 57199497 (Cl), 25353613 (Planta)</p>
    <p style="font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px">CONTRATO DE
        MUTUO GARANTIZADO CON PRENDA COMERCIAL</p>
    <p style="text-align: justify; font-size:9.5px; margin-top:20px">Nosotros: Juan José Villavicencio Navarro, mayor de
        edad, casado, ingeniero Industrial, con cédula Nº 043-240688-0001M, Nicaragüense y de este domicilio de San
        Marcos, actuando en calidad de apoderado generalísimo
        de la sociedad Anónima denominada: " EMPEÑOS Y PRESTAMOS S.A " EMPRE S.A, Sociedad que es de este domicilio,
        constituida, autorizada y existente de conformidad a las leyes de la República de Nicaragua, en escritura
        pública
        #51, Constitución de Sociedad Anónima y estatutos,
        y bajo el asiento #10011, Pág. 229/245, Tomo 97, Libro segundo de sociedades del Registro público de Carazo, que
        por brevedad en lo sucesivo del presente contrato se le podrá denominar el ACREEDOR; siendo el domicilio: Del
        Instituto Juan XXIII, 20 varas al Oeste,
        en el municipio de San Marcos, Departamento de Carazo, Dirección electrónica: empresociedadanonima@gmail.com; y
        por otra parte el / la señor (a) : {{primer_nombre}}  {{segundo_nombre}}  {{primer_apellido}}  {{segundo_apellidio}} mayor de edad,
        con número de cédula:  {{identificacion}} con domicilio: {{direccion}} , Estado civil: {{estado_civil}} quien habita en
        el
        municipio de: {{municipio}}, Departamento de {{departamento}},
        a quien en sucesivo se le denominará el "DEUDOR", hemos convenido en celebrar el presente "CONTRATO DE MUTUO
        GARANTIZADO CON PRENDA COMERCIAL" , el cual se regirá conforme las cláusulas siguientes:
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>1. PRIMERA (MONTO DE EMPEÑO):</u> El deudor confiesa tener recibido de parte del acreedor, la cantidad de: C$
      {{Valoracion_empeño_cordobas}}, ({{Valoracion_empeño_cordobas_label}} ) equivalente a moneda de los Estados Unidos
      de América: $
      {{Valoracion_empeño_dolares}}, ( {{Valoracion_empeño_dolares_label}}), Según el valor de
      la compra del dólar a la fecha de hoy de: {{taza_cambio}} C$
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>2. SEGUNDA (DESCRIPCION DE LOS BIENES EMPEÑADOS):</u> En garantía del pago a la cantidad debida, el deudor
        constituye a favor del acreedor el siguiente vehículo:
    </p>
    <div style="font-size: 10px;">
        {{tabla_articulos}}
    </div>
    <p style="text-align: justify; font-size:9.5px;">
        <u>3. TERCERA (INSPECCIÓN DEL VEHÍCULO):</u> El deudor cede los derechos al acreedor para que este realice una
        inspección del estado físico del VEHÍCULO, la cual quedará evidenciada en los formatos de verificación del
        acreedor, así como en fotografías tomadas en diferentes ángulos. El deudor no debe dejar ninguna pertenencia
        ajena al VEHÍCULO, en caso de dejar alguna pertenencia, el acreedor no se hace responsable por la pérdida de
        estas.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>4. CUARTA (RESPONSABILIDAD LIMITADA DEL ACREEDOR):</u> El acreedor no se responsabiliza por deterioros del
        VEHÍCULO empeñado por consecuencias de terremotos, inundaciones, incendios, derrumbes, erupciones, hecho
        antisocial, natural o delictivo que atente contra la integridad física y funcional del VEHÍCULO durante el
        tiempo de almacenamiento en las instalaciones del acreedor, así mismo el acreedor no se responsabiliza por
        desperfectos mecánicos que se presenten por consecuencias de almacenamientos, no obstante el acreedor realizará
        calentamiento de motor 1 vez por semana, el acreedor no se responsabiliza por cualquier accidente que se
        presente durante el traslado del VEHÍCULO hacia el lugar donde quedará almacenado, toda lesiones físicas o
        mortales del conductor o terceros que se vean involucrados, incluyendo los daños físicos a tercero, el único
        responsable será el deudor, quien lo acepta con la firma de este contrato. En caso de que ocurra un accidente
        que este fuera del trayecto de las oficinas hacia la bodega de almacenamiento de VEHÍCULO será asumido por el
        acreedor.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>5. QUINTA (PLAZO Y FORMA DE PAGO):</u>El plazo del empeño lo decidirá el deudor, siendo un plazo máximo de 12
        meses. Los pagos se realizarán en cuotas fijas de C$ {{cuotafija}}, según el cambio del córdoba a dólar a la
        fecha de hoy de:
        C$ {{taza_cambio}}, que serán modificables al tipo de cambio del dólar, en la fecha que el cliente haga efectivo
        su pago. Los
        pagos se realizarán en córdobas o el equivalente a $ {{cuotafija_dolares}}, Estadounidenses, Según tasa de
        cambio del Banco Central de
        Nicaragua, iniciando la primera cuota el día y la última el día El deudor se obliga a pagar al acreedor; La mora
        ( en caso de incurrir), el interés neto corriente, demás cargos a pagar en relación con lo pactado y el monto de
        empeño en las oficinas del acreedor, los pagos serán todos en cuotas fijas según tabla de amortización de deuda
        aquí estipulada al final de este contrato. En ningún momento el deudor podrá cancelar el monto total de su monto
        de empeño, sin antes haber pagado mora (en caso de incurrir), interés neto corriente, más los demás cargos a
        pagar en relación con lo pactado. En caso de que sea imposible para el deudor cumplir con su abono pactado, este
        podrá pagar al acreedor la mora, el interés neto corriente y demás cargos a pagar en relación con lo pactado,
        sin realizar abonos a su monto de empeño, pero al cumplirse la fecha de cancelación que se muestra en la tabla
        de amortización de deuda, el monto de empeño otorgado tendrá que pagarse en su totalidad.

    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>6. SEXTA (PAGO ANTICIPADO):</u>En caso de que el deudor realice cancelación anticipada, las partes acuerdan
        que el Deudor reconocerá y pagará únicamente el interés neto y demás cargos en relación con lo pactado,
        devengados al día de la cancelación anticipada. En caso de abonos anticipados, estos se aplicarán al principal
        del monto de empeño, con lo que no variará el plan de pagos del monto en relación con la periodicidad y fechas
        de las cuotas, sino en la proporción del monto de empeño e intereses de cada cuota, además, en dependencia del
        monto del (los) pago (s) anticipado (s) es posible que se reduzca el plazo total del empeño. Si el deudor
        cancela su contrato antes de los primeros treinta días después de haber firmado este contrato, deberá pagar el
        Interés neto corriente y todo lo demás cargos a pagar en relación con lo pactado correspondiente a un mes, al
        cancelar después del primer mes pagará únicamente los recargos sobre los días transcurridos hasta la fecha de su
        cancelación.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>7. SÉPTIMA (INTERÉS CORRIENTE Y DEMÁS CARGOS MENSUALES A PAGAR EN RELACIÓN CON LO PACTADO):</u> El monto de
        empeño devengará una tasa de interés corriente inicial del {{interes_inicial_label}} por ciento
        ({{interes_inicial}}%) sobre saldo, la cual será
        verificable mensualmente de acuerdo con la tasa promedio ponderada que emita el Banco Central de Nicaragua. Los
        demás cargos que pagar en relación con lo pactado bajo lo cual EMPRE S. A estipula lo siguiente:
        {{interes_gastos_administrativos_label}} por ciento
        ({{interes_gastos_administrativos}}%)
        de Gastos administrativos, {{interes_gastos_legales_label}} por ciento ({{interes_gastos_legales}}%) de gastos
        legales, {{interes_comisiones_label}} por ciento ({{interes_comisiones}}%) de Comisiones,
        {{interes_mantenimiento_valor_label}} por
        ciento ({{interes_mantenimiento_valor}}%) de mantenimiento al valor de la prenda,
        {{interes_demas_cargos_label}} porciento ({{interes_demas_cargos}}%) de Gestiones crediticias; Todos estos
        demás cargos son aplicados sobre el monto restante.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>8. OCTAVA (MORA):</u> En caso de que el Deudor no pague en la fecha de cada cuota mensual, automáticamente
        quedará constituido en mora y por el sólo hecho de incumplimiento, y desde esa fecha hasta el pago efectivo
        de su cuota, reconocerá al acreedor un factor moratorio de aplicado a la cuota fija, equivalente en este
        caso a {{mora}}%, por cada día transcurrido hasta el pago efectivo de su cuota o cancelación.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>9. NOVENA (PÉRDIDA DEL VEHÍCULO):</u> El deudor declara compromiso puntual de pago, pero si llegase a 20 días
        en mora el deudor pierde total derecho sobre el VEHÍCULO bajo el común acuerdo de este contrato, sin negación
        alguna, para lo cual el ACREEDOR tendrá el total derecho de poner a la venta el VEHÍCULO descrito en este
        contrato.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>10. DECIMA (RE-EMPEÑO):</u> Una vez cancelado el contrato, el VEHÍCULO podrá ser empeñado nuevamente, siempre
        y cuando el seguro este vigente, en caso de no estar vigente el seguro el deudor deberá de presentar un nuevo
        seguro del VEHÍCULO que está bajo empeño.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>11. DECIMA PRIMERA (DERECHOS DEL DEUDOR):</u>El Deudor tiene los siguientes derechos de conformidad con la
        Norma
        sobre la transparencia de las operaciones: A. Ser informados de forma clara, completa, oportuna y adecuada
        de los servicios del acreedor y adicionalmente de recibir información fiscal básica: B. Recibir información
        previa antes de la suscripción del contrato: El acreedor le pondrá a disposición al Deudor un contrato, para
        que este tenga en su poder una copia de este. C. Información durante la vigencia de la obligación: A que, de
        previo a la firma del contrato, tiene el derecho de solicitar aclaraciones y que se le entregue la tabla de
        amortización de deuda. D. Atención de El acreedor por medio de sus funcionarios u oficina de atención al
        público: El Deudor tiene el derecho de ser atendido oportuna y diligentemente con un trato adecuado por
        parte del acreedor y que se respete su privacidad siempre y cuando cumpla con las obligaciones aquí
        contraídas. A que se le respondan sus reclamos, quejas y consultas, en los horarios de oficina (lunes a
        viernes de 8:00 am - 4:30 Pm y sábados de 8:30 am - 11:00 Am). E-la información es brindada únicamente al
        deudor.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>12. DECIMA SEGUNDA (OBLIGACIONES DEL DEUDOR):</u> El Deudor se obliga expresamente a lo siguiente: A. Debe
        leer
        de previo el contrato y solicitar aclaraciones al acreedor. B. Suministrar al acreedor toda la información
        que éste le solicite sobre el VEHÍCULO. C. Entregar la copia del contrato al momento de la cancelación de
        este, en caso de pérdida del contrato deberá pagar la cantidad de $ 1.00 (un dólar) o su equivalente en
        Córdoba por pérdida de documento. D. el deudor deberá de pagar $11.00 (once dólares) de deducción por
        desembolso.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>13. DECIMA TERCERA (ENTREGA DEL VEHÍCULO):</u> Antes de que el deudor cancele su contrato deberá preguntar en
        la
        caja sí el seguro del VEHÍCULO está vigente, en caso de que el seguro este expirado NO se entregará el
        VEHÍCULO hasta que el cliente traiga un nuevo seguro vigente, esto con el fin de evitar inconvenientes
        varios que puedan presentarse al trasladar el VEHÍCULO desde las bodegas de almacenamiento hasta las
        oficinas en donde se entregará. En caso de que el deudor no pueda retirar personalmente el VEHÍCULO una vez
        que este haya sido cancelado, podrá enviar a un tercero quién deberá presentar: su cédula original más
        cedula original del DEUDOR y el contrato privado, de faltar uno de estos tres documentos NO se entregará. En
        la entrega del VEHÍCULO, este no será probado funcionalmente, lo único que se verificará al cliente es su
        estructura física y los accesorios indicados en la descripción y observaciones plasmados en la cláusula dos
        de este contrato.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>14. DECIMA CUARTA (RÉGIMEN LEGAL):</u> El presente contrato, y todos los derechos o actos que se deriven o
        sean consecuencia de este, quedan sometidos a la Ley 842 y sus reformas, ley 176, Código Civil, Código de
        Comercio y demás leyes de la República de Nicaragua pertinentes al acto de mutuo.
    </p>
    <p style="text-align: justify; font-size:9.5px;">
        <u>15. DECIMA QUINTA (ACEPTACIÓN): </u>Los comparecientes declaran expresamente que aceptan el presente contrato
        con los términos relacionados, Y leído el presente contrato por las partes lo encontramos conforme, aprobamos,
        ratificamos y firmamos, en la ciudad de San Marcos a los {{dias}} dias del mes {{mes}} del año {{anio}}.
    </p>
    <br></br>
       <style>
      td {
         border: 1px black solid;
         padding: 5px;
         width: 7.14% !important;
      }

      td.col2 {
         width: 14.28% !important;
      }

      td.col6 {
         width: 42.85% !important;
      }

      td.val {
         text-align: right;
      }
   </style>
   <table style="width: 100%;font-size:9px !important; border-collapse: collapse;">
      <thead>
         <tr>
            <td colspan="2" class="col2"><span lang="ES-NI">CAPITAL PRESTADO C$</span></td>
            <td colspan="2" class="col2"> <span lang="ES-NI">C$ {{Valoracion_empeño_cordobas}}</span></td>
            <td colspan="6" class="col6" rowspan="2">
               <span lang="ES-NI">TABLA DE AMORTIZACION DE DEUDA POR GARANTIA PRENDARIA</span>
            </td>
            <td colspan="2" class="col2"><span lang="ES-NI">CUOTA C$</span></td>
            <td colspan="2" class="col2"> <span lang="ES-NI">C$ {{cuotafija}}</span></td>
         </tr>
         <tr>
            <td colspan="2" class="col2"> CAPITAL PRESTADO $</td>
            <td colspan="2" class="col2"> $ {{Valoracion_empeño_dolares}}</td>
            <td colspan="2" class="col2"><span lang="ES-NI">CUOTA FIJA<br>$</br></span> </td>
            <td colspan="2" class="col2">$ {{cuotafija_dolares}}</td>
         </tr>
         <tr>
            <td colspan="2" class="col2">
               <span lang="ES-NI">PLAZO PARA CANCELAR: {{plazo}} mes(es)</span>
            </td>
            <td colspan="2" class="col2">
               <p style="margin-bottom:0cm;text-align:center;line-height:normal">
                  <span lang="ES-NI">INTERÉS NETO CORRIENTE(a): 1%</span>
               </p>
            </td>
            <td colspan="2" class="col2">
               <span lang="ES-NI">Demás cargos a
                  pagar en relación con lo pactado (b)</span>
            </td>
            <td colspan="2" class="col2">
               <span lang="ES-NI">Interés Neto
                  corriente más demás cargos a
                  pagar en relación con lo pactado</span>
            </td>
            <td colspan="2" class="col2">
               <span lang="ES-NI">ABONO AL
                  CAPITAL</span>
            </td>
            <td colspan="2" class="col2">
               <span lang="ES-NI">TOTAL A
                  PAGAR</span>
            </td>
            <td colspan="2" class="col2">
               <span lang="ES-NI">MONTO
                  RESTANTE</span>
            </td>
         </tr>
         <tr>
            <td colspan="2" class="col2"><span lang="ES-NI">FECHAS DE PAGO</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
            <td><span lang="ES-NI">C$</span></td>
            <td><span lang="ES-NI">$</span></td>
         </tr>
      </thead>
      {{tbody_amortizacion}}

   </table>

    <p style="text-align:left; font-size:10px; margin-top:50px; padding-bottom:0px; margin-bottom:0px;">
        Deudor:{{primer_nombre}}  {{segundo_nombre}}  {{primer_apellido}}  {{segundo_apellidio}}
    </p>
    <p style="text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;">Cédula:
        {{identificacion}}
    </p>
    <p style="text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;">Cel:{{telefono}}
    </p>
</body>

</html>