<!DOCTYPE html>
<html>

<head>
</head>

<body>



   <p style='font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px'>
      EMPEÑOS Y PRÉSTAMOS S.A 'EMPRE SA'
      RUC J0310000300895     
   </p>
   <p style='font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px'>
      “Tu Prosperidad, Es Nuestro Éxito….”      
   </p>

   <p style='font-size: 9.5px; margin-top: 0px; margin-bottom: 0px; text-align: left; float: left; width: 40%'>
      No Contrato:
      {{numero_contrato}}      
   </p>
    <p style='font-size: 9.5px; margin-top: 0px; margin-bottom: 0px; text-align: right; float: right; width: 40%'>
      Carazo - Nicaragua
      {{fecha}}
   </p>

   <p style='font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px'>Oficina Central
      82572062 (Mov); 57199497 (Cl), 25353613 (Planta)</p>
   <p style='font-size:9.5px; margin-top:0px; margin-bottom:0px; text-align:center; padding-bottom:0px'>CONTRATO DE
      MUTUO GARANTIZADO CON PRENDA COMERCIAL</p>



   <p style='text-align: justify; font-size:9.5px; margin-top:20px'>Nosotros: Juan José Villavicencio Navarro, mayor de
      edad, casado, ingeniero Industrial, con cédula Nº 043-240688-0001M, Nicaragüense y de este domicilio de San
      Marcos, actuando en calidad de apoderado generalísimo
      de la sociedad Anónima denominada: ' EMPEÑOS Y PRESTAMOS S.A ' EMPRE S.A, Sociedad que es de este domicilio,
      constituida, autorizada y existente de conformidad a las leyes de la República de Nicaragua, en escritura pública
      #51, Constitución de Sociedad Anónima y estatutos,
      y bajo el asiento #10011, Pág. 229/245, Tomo 97, Libro segundo de sociedades del Registro público de Carazo, que
      por brevedad en lo sucesivo del presente contrato se le podrá denominar el ACREEDOR; siendo el domicilio: Del
      Instituto Juan XXIII, 20 varas al Oeste,
      en el municipio de San Marcos, Departamento de Carazo, Dirección electrónica: empresociedadanonima@gmail.com; y
      por otra parte el / la señor (a) : {{primer_nombre}} {{segundo_nombre}} {{primer_apellido}} {{segundo_apellidio}}
      mayor de edad,
      con número de cédula: {{identificacion}} con domicilio: {{direccion}} , Estado civil: {{estado_civil}} quien
      habita en el
      municipio de: {{municipio}}, Departamento de {{departamento}},
      a quien en sucesivo se le denominará el 'DEUDOR', hemos convenido en celebrar el presente 'CONTRATO DE MUTUO
      GARANTIZADO CON PRENDA COMERCIAL' , el cual se regirá conforme las cláusulas siguientes:
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>1. PRIMERA (MONTO DE EMPEÑO):</u> El deudor confiesa tener recibido de parte del acreedor, la cantidad de: C$
      {{Valoracion_empeño_cordobas}}, ({{Valoracion_empeño_cordobas_label}} ) equivalente a moneda de los Estados Unidos
      de América: $
      {{Valoracion_empeño_dolares}}, ( {{Valoracion_empeño_dolares_label}}), Según el valor de
      la compra del dólar a la fecha de hoy de: {{taza_cambio}} C$
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>2. SEGUNDA (DESCRIPCION DE LOS BIENES EMPEÑADOS):</u> En garantía del pago a la cantidad debida, el deudor
      constituye a favor del acreedor prenda (s) comercial (es) sobre el/los siguiente (s) bien (es):
   </p>

   <div style='font-size: 10px;;'>
      {{tabla_articulos}}
   </div>

   <p style='text-align: left; font-weight:bold;margin-top:10px;font-size:10px;'>Observaciones:</p>

   <p style='font-size:10px;'>{{observaciones}}</p>

   <p style='text-align: justify; font-size:9.5px;'> <u>3. TERCERA (RESPONSABILIDAD LIMITADA DEL ACREEDOR):</u> El
      acreedor no se responsabiliza por deterioros de los bienes empeñados por consecuencias de terremotos,
      inundaciones, incendios, derrumbes, erupciones, y cualquier otro hecho social, natural o delictivo que atente
      contra la integridad física y funcional
      de los bienes durante el tiempo de almacenamiento en las instalaciones del acreedor. Al momento de empeñar los
      bienes estos serán inspeccionados física y funcionalmente por el personal de atención a clientes, pero al momento
      de cancelación y entrega de los bienes, estos no serán probados funcionalmente,
      lo único que se verificará al deudor es su estructura física y los accesorios indicados en la descripción y
      observaciones plasmados en la cláusula dos de este contrato.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>4. CUARTA (PLAZO Y FORMA DE PAGO):</u> El deudor decide en cuantas cuotas mensuales cancela su empeño, siendo
      el plazo máximo de 3 meses para artículos electrónicos, 6 meses
      para artículos no electrónicos y 12 meses para automotores; los pagos se realizarán en cuotas fijas MENSUALES de
      C$ {{cuotafija}}, ( {{cuotafija_label}}), según el cambio del córdoba a dólar a la fecha de hoy de: C$
      {{taza_cambio}}
      que serán modificables al tipo de cambio del dólar, en la fecha que el cliente haga efectivo su pago. Los pagos se
      realizarán en córdobas o el equivalente a $ {{cuotafija_dolares}} , ({{cuotafija_dolares_label}}) Estadounidenses,
      Según tasa de cambio del Banco Central de Nicaragua, iniciando la primera cuota mensual el día y la última cuota
      mensual el día El deudor acepta realizar sus pagos mensuales en las oficinas del acreedor,
      los pagos serán todos en cuotas fijas mensuales a como se muestra en la tabla de amortización de deuda por
      garantía prendaria indicada al final de este contrato. En ningún momento el deudor podrá cancelar el
      monto total de su empeño, sin antes haber pagado mora (en caso de incurrir, hasta un máximo de 20 días en mora),
      interés neto corriente, más los demás cargos a pagar en relación con lo pactado mensuales.
      En caso que sea imposible para el deudor cumplir con su abono pactado, este podrá pagar al acreedor de forma
      mensual, la mora, el interés neto corriente y demás cargos a pagar en relación con lo pactado.
      El deudor no debe presentarse a cancelar hasta la última fecha de pago que se muestra en la tabla de amortización
      al final de este contrato sin antes haber realizado los pagos respetivos mensuales de todas las fechas anteriores
      que se muestran en esta misma tabla;
      porque de no realizar pagos mensuales e incurrir en 21 días mora su artículo estará en liquidación.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>5. QUINTA (INTERES CORRIENTE Y DEMÁS CARGOS MENSUALES A PAGAR EN RELACION CON LO PACTADO):</u> El monto de
      empeño devengará una tasa de interés corriente inicial del {{interes_inicial_label}} por ciento
      ({{interes_inicial}}%) sobre saldo, la cual será
      verificable mensualmente de acuerdo con la tasa promedio ponderada que emita el Banco Central de Nicaragua. Los
      demás cargos que pagar en relación con lo pactado bajo lo cual EMPRE S. A estipula lo siguiente:
      {{interes_gastos_administrativos_label}} por ciento
      ({{interes_gastos_administrativos}}%)
      de Gastos administrativos, {{interes_gastos_legales_label}} por ciento ({{interes_gastos_legales}}%) de gastos
      legales, {{interes_comisiones_label}} por ciento ({{interes_comisiones}}%) de Comisiones,
      {{interes_mantenimiento_valor_label}} por
      ciento ({{interes_mantenimiento_valor}}%) de mantenimiento al valor de la prenda,
      {{interes_demas_cargos_label}} porciento ({{interes_demas_cargos}}%) de Gestiones crediticias; Todos estos
      demás cargos son aplicados sobre el monto restante.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>6. SEXTA ( MORA):</u> El deudor podrá realizar el pago de su cuota anticipada a su fecha de pago, con el fin de
      evitarse mora; En caso que el Deudor no pague en la fecha de cada cuota mensual,
      automáticamente quedará constituido en mora y por el sólo hecho de incumplimiento, y desde esa fecha hasta el pago
      efectivo de su cuota, reconocerá al acreedor un factor mora de aplicado a la cuota fija,
      equivalente a {{mora}}%, por cada día transcurrido en mora hasta el pago efectivo de su cuota.
   </p>
   <p style='text-align: justify; font-size:9.5px;'> <u> 7. SEPTIMA (PÉRDIDA DE LA(S) GARANTIA(S)):</u> El deudor debe
      realizar sus pagos mensuales, pero si llegase a 21 días en mora el deudor pierde total derecho sobre la (s)
      garantía (s) descrita(s) bajo el común acuerdo de este contrato, para lo cual el ACREEDOR tendrá el total derecho
      de poner a la venta la(s) garantía(s), no obstante el mismo
      deudor podrá recuperar sus bienes mediante la compra de los mismos a través de una factura de compra al contado o
      de sistema de apartado, siempre y cuando el/los bien(es) aún esté (n) en el inventario de venta del ACREEDOR.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      8. OCTAVA (PAGO ANTICIPADO): En caso que el deudor realice cancelación anticipada, las partes acuerdan que el
      Deudor reconocerá y pagará únicamente el interés neto más demás cargos en relación con lo pactado devengados al
      día de la cancelación anticipada.
      En caso de abonos anticipados, estos se aplicarán al principal del monto de empeño, con lo que no variará el plan
      de pagos del monto en relación a la periodicidad y fechas de las cuotas, sino en la proporción del monto de empeño
      e intereses de cada cuota, además,
      en dependencia del monto del (los) pago (s) anticipado (s) es posible que se reduzca el plazo total del empeño. Si
      el deudor cancela su contrato antes de los primeros treinta días después de haber firmado este contrato, deberá
      pagar el Interés neto corriente y todo lo demás cargos a pagar en relación con lo pactado correspondiente a un
      mes,
      al cancelar después del primer mes, pagará únicamente los recargos sobre los días transcurridos hasta la fecha de
      su cancelación.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>9. DECIMA (REEMPEÑO):</u> Una vez cancelado el contrato, los bienes podrán ser empeñados nuevamente después de
      24 horas, aplica para artículos electrónicos o que se demuestre que el tiempo puede impactar en su rendimiento y
      funcionamiento.
      En caso que el/los bien (es) haya(n) sido empeñado en un menor plazo del permitido (3meses), se podrá re empeñar
      inmediatamente sin necesidad de sacarse del almacenamiento para validación funcional, el nuevo plazo en el
      contrato de re empeño quedara definido Por la diferencia del plazo máximo permitido y el plazo del contrato
      anterior.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>10. DECIMA PRIMERA (DERECHOS DEL DEUDOR):</u> El Deudor tiene los siguientes derechos de conformidad con la
      Norma sobre la transparencia de las operaciones: A. A ser informados de forma clara, completa,
      oportuna y adecuada de los servicios del acreedor y adicionalmente de recibir información fiscal básica: B.
      Recibir información previa antes de la suscripción del contrato: El acreedor le pondrá a disposición el contrato,
      para que este tenga en su poder una copia del mismo. C. Información durante la vigencia de la obligación: A que de
      previo a la firma del contrato, tiene el derecho de solicitar aclaraciones sobre el contrato y cada una de sus
      cláusulas.
      D. Atención de El acreedor por medio de sus funcionarios u oficina de atención al público: El Deudor tiene el
      derecho de ser atendido oportuna y diligentemente con un trato adecuado por parte del acreedor y que se respete su
      privacidad siempre y cuando cumpla con las obligaciones aquí contraídas.
      A que se le respondan sus reclamos, quejas y consultas, en los horarios de oficina (Lunes a viernes de 8:00 am -
      4:30 Pm y Sábados de 8:30 am - 11:00 Am). E .la información es brindada únicamente al deudor.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>11. DECIMA SEGUNDA (OBLIGACIONES DEL DEUDOR):</u> El Deudor se obliga expresamente a lo siguiente: A. Debe leer
      de previo el contrato y solicitar aclaraciones al acreedor. B. A suministrar al acreedor toda la información que
      éste le solicite sobre la garantía descrita en este contrato.
      C. A entregar la copia del contrato al momento de la cancelación del mismo, en caso de pérdida debe de pagar la
      cantidad de $ 1.00 (Un dólar) o su equivalente en córdobas por pérdida de documento.
      D. En caso de que el/los bien (es) no pueda (n) ser retirados por el DEUDOR, este podrá enviar a un tercero quién
      deberá presentar: su cédula original más cedula original del DEUDOR y el contrato privado, de faltar uno de estos
      tres documentos NO se entregarán el/los bien (es) empeñados a terceras personas.
      E. El deudor se obliga a pagar la cantidad de $ 1.00 (Un dólar) o su equivalente en córdobas por reestructuración
      de este contrato.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      12. DECIMA TERCERA (REGIMEN LEGAL): El presente contrato, y todos los derechos o actos que se deriven o sean
      consecuencia del mismo, quedan sometidos a la Ley 842, ley 176, ley 146, Código Civil, Código de Comercio y demás
      leyes de la República de Nicaragua.
   </p>
   <p style='text-align: justify; font-size:9.5px;'>
      <u>13. DECIMA CUARTA (ACEPTACIÓN):</u> Los comparecientes declaran expresamente que aceptan el presente contrato
      con los términos relacionados, Y leído el presente contrato por las partes lo encontramos conforme, aprobamos,
      ratificamos y firmamos, en la ciudad de San Marcos a los {{dias}} dias del mes {{mes}} del año {{anio}}.
   </p><br></br>
   <style>
      td {
         border: 1px black solid;
         padding: 5px;
         width: 7.14% !important;
      }

      td.col2 {
         width: 14.28% !important;
      }

      td.col6 {
         width: 42.85% !important;
      }

      td.val {
         text-align: right;
      }
   </style>
   <table style='width: 100%;font-size:9px !important; border-collapse: collapse;'>
      <thead>
         <tr>
            <td colspan='2' class='col2'><span lang='ES-NI'>CAPITAL PRESTADO C$</span></td>
            <td colspan='2' class='col2'> <span lang='ES-NI'>C$ {{Valoracion_empeño_cordobas}}</span></td>
            <td colspan='6' class='col6' rowspan='2'>
               <span lang='ES-NI'>TABLA DE AMORTIZACION DE DEUDA POR GARANTIA PRENDARIA</span>
            </td>
            <td colspan='2' class='col2'><span lang='ES-NI'>CUOTA C$</span></td>
            <td colspan='2' class='col2'> <span lang='ES-NI'>C$ {{cuotafija}}</span></td>
         </tr>
         <tr>
            <td colspan='2' class='col2'> CAPITAL PRESTADO $</td>
            <td colspan='2' class='col2'> $ {{Valoracion_empeño_dolares}}</td>
            <td colspan='2' class='col2'><span lang='ES-NI'>CUOTA FIJA<br>$</br></span> </td>
            <td colspan='2' class='col2'>$ {{cuotafija_dolares}}</td>
         </tr>
         <tr>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>PLAZO PARA CANCELAR: {{plazo}} mes(es)</span>
            </td>
            <td colspan='2' class='col2'>
               <p style='margin-bottom:0cm;text-align:center;line-height:normal'>
                  <span lang='ES-NI'>INTERÉS NETO CORRIENTE(a): 1%</span>
               </p>
            </td>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>Demás cargos a
                  pagar en relación con lo pactado (b)</span>
            </td>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>Interés Neto
                  corriente más demás cargos a
                  pagar en relación con lo pactado</span>
            </td>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>ABONO AL
                  CAPITAL</span>
            </td>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>TOTAL A
                  PAGAR</span>
            </td>
            <td colspan='2' class='col2'>
               <span lang='ES-NI'>MONTO
                  RESTANTE</span>
            </td>
         </tr>
         <tr>
            <td colspan='2' class='col2'><span lang='ES-NI'>FECHAS DE PAGO</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
            <td><span lang='ES-NI'>C$</span></td>
            <td><span lang='ES-NI'>$</span></td>
         </tr>
      </thead>
      {{tbody_amortizacion}}

   </table>

   <p style='text-align:left; font-size:10px; margin-top:50px; padding-bottom:0px; margin-bottom:0px;'>
      Deudor: {{primer_nombre}} {{segundo_nombre}} {{primer_apellido}} {{segundo_apellidio}}
   </p>
   <p style='text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;'>Cédula:
      {{identificacion}}
   </p>
   <p style='text-align:left; font-size:10px; margin-top:0px; padding-bottom:0px; margin-bottom:0px;'>Cel:{{telefono}}
   </p>

</body>

</html>